/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@font-face {
    font-family: 'Tuffy';
    src: url('../assets/Tuffy-Regular.woff2') format('woff2'),
        url('../assets/Tuffy-Regular.woff') format('woff'),
        url('../assets/Tuffy-Regular.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Run';
    src: url('../assets/Run-Medium.woff2') format('woff2'),
        url('../assets/Run-Medium.woff') format('woff'),
        url('../assets/Run-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
/* Typografi */
p,h1,h2,h3,a,p{
    color: #fff;
}
h1,h2{
    font-family: 'Run';
    letter-spacing: 0.05em;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
h3{
    font-family: 'Lato';
    font-size: 16px;
}
p{
    font-family: 'Lato';
    font-weight: 400;
}
/*
Farveskema 1:
    #bcb5af
    #dbd3cc
    #6f6f70
    #948e7d

Farveskema 2:
    #c07b8b
    #e3c3d0
    #b14954
    #eedcb4
*/
/*resets*/
*{
    box-sizing: border-box;
}
html, body{
    margin:0;
    padding:0;
    
}
img, video, svg{
    max-width: 100%;
}

.bold{
    font-weight: 700;
}
.uppercase{
    text-transform: uppercase;
}
.lowercase{
    text-transform: lowercase;
}

.header, .footer{
    background:  #30383a;
}

.twoCol > *{
    display: flex;
    justify-content: center;
    align-items: center;

}
/* Header and menu */

.header{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;}
.menu a{
    text-decoration: none;
    font-family: 'Tuffy';
    font-size: 13px;
    padding: 10px 20px;
}
.menu a:hover{
    color: #878787;
}
.logo{
    width: 80px;
}

/* Banner */
.banner{
    position: relative;
}
.bannerText{
    position: absolute;
    bottom: 0;
    background: #bcb5af;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, 0);
}

/* 2 collums for the descriptions */

/* Mariehoene and Blomst Section */
.mariehoeneName, .mariehoeneDesc, .blomstName, .blomstDesc{
    padding: 20px 0px;
}
.mariehoeneDesc p, .blomstDesc p{
    width: 50%;
}

/* Mariehoene section */
.mariehoeneName{
    background: #6f6f70;
}
.mariehoeneDesc{
    background: #dbd3cc;
    box-sizing: border-box;
}

/* blomst Section */
.blomstName{
    background:#e3c3d0;
}
.blomstDesc{
    background: #c07b8b;

}

/* Footer */

.footer{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}
.footer a{
    color: #878787;
    font-family: 'Tuffy';
    font-size: 14px;
    text-decoration: none;
    
}
.footerLists{
    width: 50%;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:720px){
    /*Styles for larger screens*/

    h1,h2{
        font-size: 2.7vw;
    }

    /* header and menu */
    .header{
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    .twoCol{
        display: flex;
    }
    .twoCol > *{
        width: 50%;
    }

    /* footer */
    .footer{
        justify-content: center;
        padding-bottom: 200px;
    }
    .footerLists{
    width: auto;
    margin-right: 5vw;
    }
    .footerLists:last-of-type{
        margin-right: 0;
    }
}

/* email! */
.emailPop{
    max-width: 400px;
    min-height: 100px;
    background: #bcb5af;
    border-radius: 10px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 20px;
    box-shadow: 2px 2px 10px 2px rgba(60, 58, 70, 0.5);
}
.emailPop form{
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: space-between;
    
}
.emailPop form input, .emailPop form button, .emailPop form label{
    border: 0;
    border-radius: 5px;
    padding: 3px;
    font-family: 'Lato';
}
.emailPop form button{
    padding: 6px 0;
    background: #6f6f70;
    color: #ffffff;
}

/* modal */
.dialog{
    border: 0;
    border-radius: 10px;
    overflow: visible;
    padding: 20px;
    box-shadow: 0 0 20px #000;
}
.modalText{
    color: #30383a;
}
.closeBtn{
    position: absolute;
    scale: 2;
    top: 0;
    right: 0;
    background: #30383a;
    color: #fff;
    border: 0;
    border-radius: 10px;
}